# ~/.gitconfig

[user]
	name = Samuli Suomi
	email = 3490745+samulisuomi@users.noreply.github.com

[alias]
	a = add
	all = add --all
	cm = commit
	cma = commit --amend
	cmm = commit -m
	co = checkout
	d = diff
	email = config user.email
	f = fetch
	l = log
	mrg = merge
	pl = pull
	ps = push
	psf = push --force-with-lease
	rb = rebase
	rbi = rebase -i
	rs = reset
	rsh = reset HEAD~
	s = status
	st = stash
	sts = stash save # "name"
